---
import { cn } from '~/lib/utils'
import type { Link } from '~/types/config'

interface Props {
  links: Link[]
}

const { links } = Astro.props
---

<div
  class="flex flex-wrap gap-x-3 sm:gap-x-6 gap-y-1 text-sm font-medium text-muted-foreground pb-4 px-6 sm:px-8 border-b border-border/50"
>
  {
    links.map((link) => (
      <a href={link.url} class={cn('transition text-muted-foreground/80  hover:text-zinc-900 dark:hover:text-white')}>
        {link.name}
      </a>
    ))
  }
</div>
